/*h1{
    font-family: monospace;
    color: dodgerblue;
}

h3{
    color: indigo;
    font-family: monospace;
}

span{
    color: dimgray;
    font-family: Arial;
    font-size: 18px;
}

.destaque{
    background-color: yellow;
}

#destaque_especial{
    background-color: aquamarine;
}*/

body{
    margin:0;
    padding:0;
    font-family: sans-serif; 
}


.header{
    background-color: #000407;
    color: #3289cd;
    border-bottom: 3px solid #3289cd;
}


.container{
    width: 80%;
    margin: 0 auto;
}

.header .container{
    display: flex;
    justify-content:space-between;
}


.navbar{
    display: flex;
    list-style: none;
    width: 400px;
    justify-content: space-around;
    align-items: center;
}

.navbar a{
    text-decoration: none;
    color: #e3b062;
}

.agora{
    font-weight: bold;
}

p{
    margin: 20px 30px 40px 50px;
}

.banner{
    background-image: url(bg-jelly-fish-para_outras_pags.png);
    background-size: cover;
}

.banner .container{
    height: 550px;
    display: flex;
    color: white;
    align-items: center;
}

.banner p{
    font-size: 36px;
    width: 280px;
    margin-left: 20%;
}

.footer{
    background-color: #3289cd;
    color: white;
}

.footer .container{
    display: flex;
    height: 150px;
    align-items: center;
    justify-content: center;
}

.card{
    background-color: #E5E5E5;
    color: #E6005A;
    width: 400px;
    height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card h2{
    margin: 0;
}

.banner .container.Login{
    justify-content: center;
}

form{
    display: flex;
    flex-direction: column;
    margin-top: 24px;
    width: 250px;
}

form input{
    margin-top: 8px;
    outline: 3px solid #3289cd;
    border: none;
    padding: 8px;
    border-radius: 5px;
}

form label{
    margin-top: 8px;
}

form button{
    margin-top: 16px;
    border-radius: 5px;
    background:#E6005A;
    color: white;
    width: 120px;
    padding: 10px 15px;
    align-self: center;
    font-size: 18px;
    border: 0;
    cursor: pointer;
}

